[bumpversion]
current_version = 3.16.0
tag_name = {new_version}
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:nomenklatura/__init__.py]
