*.pyc
*.DS_Store
*.sqlite3
*.egg-info
*.perf
_store/*
.env
.mypy_cache
tests/fixtures/donations.frag.ijson
tests/fixtures/donations.rslv.ijson
.coverage
htmlcov/
/build/
/dist/
/data/
textual.log
.nk_cache.db
nomenklatura.db
/uv.lock
/.envrc
/.vscode
