sqlalchemy==0.8.3
Flask==0.10.1
Flask-Script==0.5.3
Flask-Assets==0.8
flask-sqlalchemy==1.0
Flask-OAuth==0.12
requests==2.0.1
FormEncode==1.2.6
Python-Levenshtein==0.10.2
psycopg2==2.5.1
certifi==0.0.8
celery==3.1.6
-e git+git://github.com/pudo/flask-utils.git#egg=flask-utils
nose==1.3.0
cssmin==0.2.0
tablib==0.9.11