sqlalchemy==0.7.8
Flask==0.9
Flask-Script==0.3.3
flask-sqlalchemy==0.16
Flask-OAuth==0.11
requests==0.13.2
-e git+git://github.com/seatgeek/fuzzywuzzy.git#egg=fuzzywuzzy
FormEncode==1.2.4
Python-Levenshtein==0.10.2
psycopg2=2.4.5
