{%extends "layout.html" %}
{%from "pager.html" import pager %}

{% block title %}
    {{dataset.label}}
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{url_for('dataset.view',
            dataset=dataset.name)}}">{{dataset.label}}</a>
        <span class="divider">/</span>
    </li>
    <li>
      Upload data
    </li>
{% endblock %}

{% block content %}
  <form class="form-horizontal" method="POST"
      enctype="multipart/form-data"
      action="{{ url_for('upload.upload', dataset=dataset.name) }}">
    <div class="row">
      <div class="span6">
        <div class="control-group">
          <label class="control-label" for="file">File</label>
          <div class="controls">
            <input type="file" class="input-xlarge" id="file" name="file">
          </div>
        </div>
      </div>
      <div class="span6">
        <p>You can upload tabular data to nomenklatura, either to 
        extend the set of canonical values, to submit link
        candidates or to upload a mapping between values and link 
        canidates.</p>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Upload</button>
    </div>
  </form>
{% endblock %}

