{%extends "layout.html" %}
{%from "pager.html" import pager %}

{% block title %}
    {{dataset.label}}
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{url_for('dataset.view',
            dataset=dataset.name)}}">{{dataset.label}}</a>
        <span class="divider">/</span>
    </li>
    <li>
      Import: {{ filename }}
    </li>
{% endblock %}

{% block content %}
  <form class="form-horizontal" method="POST"
      action="{{ url_for('upload.submit', dataset=dataset.name, id=id) }}">
    
    <table class="table table-bordered table-condensed">
      <tr>
        <th></th>
        <th>(None)</th>
        {% for header in headers %}
          <th>{{header}}</th>
        {% endfor %}
      </tr>
      <tr>
        <th>Entity:</th>
        <td><input name="entity" value="" type="radio"></td>
        {% for header in headers %}
          <td><input name="entity" value="{{header}}" type="radio"
            {% if loop.first %}checked="checked"{% endif %}></td>
        {% endfor %}
      </tr>
      <tr>
        <th>Alias:</th>
        <td><input name="alias" value="" type="radio" checked="checked"></td>
        {% for header in headers %}
          <td><input name="alias" value="{{header}}" type="radio"></td>
        {% endfor %}
      </tr>
      {% for s in sample %}
        <tr>
          {% if loop.first %}
            <th colspan="2" rowspan="{{ sample | length}}">Sample:</th>
          {% endif %}
          {% for col in s %}
            <td>{{ col.value }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Import</button>
    </div>
  </form>
{% endblock %}


