{%extends "layout.html" %}
{%from "pager.html" import pager %}

{% block title %}
    {{alias.display_name}} - {{dataset.label}}
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{url_for('dataset.view',
            dataset=dataset.name)}}">{{dataset.label}}</a>
        <span class="divider">/</span>
    </li>
    <li>
        Reconcile
    </li>
{% endblock %}

{% block scripts %}
  <script src="/static/js/recon.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8">
          Candidate [<a target="_blank" id="google-link" href="http://google.com/search?q={{ alias.name | urlencode }}">gg</a>]: <code>{{alias.display_name}}</code>
        </div>
        <div class="span4">
            <form id="match-filter" class="form-search" method="GET"
                action="{{url_for('alias.match', dataset=dataset.name, alias=alias.id)}}">
                <input type="hidden" name="random" value="{{random}}">
                <input id="filter-field" type="text" class="input-medium search-query"
                    name="query" placeholder="Type a partial match...">
                <button type="submit" class="btn">Filter</button>
            </form>
        </div>
    </div>
    <form id="save-match" class="" method="POST"
        action="{{url_for('alias.match_save', dataset=dataset.name, alias=alias.id)}}">
        <table class="table match-table table-condensed">
            <tr>
                <th></th>
                <th>Entity</th>
                <th>Score</th>
            </tr>

            {% for text, entity, score in choices %}
            <tr>
                    <td><input type="radio" name="choice"
                        value="{{entity.id}}"></td>
                    <td><code><a href="{{url_for('entity.view',
                                dataset=dataset.name, entity=entity.id)}}"
                                target="_new">{{entity.display_name}}</a></code></td>
                    <td>{{score}}</td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="3">
                    {{ pager(choices) }}
                </td>
            </tr>
            <tr>
                <td><input type="radio" name="choice" id="new" value="NEW"></td>
                <td colspan="2">
                    <input type="text" name="name" id="new-text" value="">
                </td>
            </tr>
            {% if dataset.enable_invalid %}
            <tr>
                <td><input type="radio" name="choice" id="invalid" value="INVALID"></td>
                <td colspan="2">
                    <strong>Invalid alias</strong>
                </td>
            </tr>
            {% endif %}
        </table>
        {% if random %}
            <input type="hidden" name="random" value="true">
            <button type="submit" class="btn btn-success btn-large">
                <i class="icon-ok icon-white"></i> Save &amp; Next</button>
            <a href="{{url_for('alias.match_random', dataset=dataset.name)}}"
                class="btn btn-danger btn-large">
                <i class="icon-random icon-white"></i> Try another</a>
        {% else %}
            <button type="submit" class="btn btn-success btn-large">
                <i class="icon-ok icon-white"></i> Save</button>
        {% endif %}

    </form>
    <div class="help-block">
      Keyboard controls: use up and down arrows to navigate, numbers to select, 'i' for invalid, 'f' for search,
      'n' for new entity form, enter to submit. 'g' will run a Google query with the candidate.
    </div>
{% endblock %}
