<div class="jumbotron">
  <h1 class="text">nomenklatura</h1>
  <p class="text">A data cleaning service that helps link and de-duplicate entities in raw data.</p>
  <p>
      <a ng-show="session.logged_in" class="btn btn-lg btn-default"
        ng-click='newDataset()'><i class="fa fa-plus"></i> Create a dataset</a>
      <a ng-hide="session.logged_in" class="btn btn-lg btn-success" href="/api/2/sessions/login">
        <i class="fa fa-github"></i> Sign in with GitHub</a>
      <a class="btn btn-lg btn-primary btn-default" href="/#/about">
        <i class="fa fa-question-circle"></i> Learn more...</a>
      
  </p>
</div>



<div class="row">
    <div class="col-xs-12 col-md-6">
      <p>Nomenklatura is a simple service that makes it easy to maintain a
      canonical list of entities such as persons, companies or event
      streets and to match messy input, such as their names against that
      canonical list &ndash; for example, matching Acme Widgets, Acme
      Widgets Inc and Acme Widgets Incorporated to the canonical "Acme
      Widgets".</p>

      <p>With Nomenklatura its a matters of minutes to set up your own set
      of master data to match against and it provides a simple user
      interface and <a href="/#/about">API</a> which you
      can then use do matching (the API is compatible with Open Refine's
      reconciliation function).</p>

      <p>Nomenklatura can not only store the master set of entities you
      want to match against but also will learn and record the various
      aliases for a given entity - such as a person, organisation or place
      - may have in various datasets.</p>
    </div>
    <div class="col-xs-12 col-md-6">
      <table class="table table-condensed">
            <tr>
              <th>Dataset</th>
              <th>Entities</th>
            </tr>
            <tr ng-repeat="dataset in datasets.results">
                <td>
                    {{dataset.owner.login}}
                    <span class="divider">&raquo;</span>
                    <a href="/#/datasets/{{dataset.name}}">{{dataset.label}}</a>
                </td>
                <td>
                  {{dataset.stats.num_entities}}
                </td>
            </tr>
        </table>
        <nk-pager response="datasets" load="loadDatasets(url)"></odis-pager>
    </div>
</div>