<div class="jumbotron">
  <h1 class="text">nomenklatura</h1>
  <p class="text">A data cleaning service that helps link and de-duplicate entities in raw data.</p>
  <p>
      <a ng-show="session.logged_in" class="btn btn-lg btn-default"
        ng-click='newDataset()'><i class="fa fa-plus"></i> Create a dataset</a>
      <a ng-hide="session.logged_in" class="btn btn-lg btn-default" href="/api/2/sessions/login">
        <i class="fa fa-github"></i> Sign in with GitHub</a>
      <a class="btn btn-lg btn-primary btn-default" href="/docs/introduction">
        <i class="fa fa-question-circle"></i> Learn more...</a>
      
  </p>
</div>



<div class="row">
    <div class="col-xs-12 col-md-6">
      <p>
        What can nomenklatura do for you? The service supports a set of useful tasks, such as:
      </p>
      <ul>
        <li><strong>Clean up misspelled and duplicate names in source data.</strong> Individuals or organisations often have multiple names used to identify them, and sometimes they're just misspelled. Nomenklatura creates links between these different names for the same thing to help you treat them as a single entity.</li>

        <li><strong>Integrate multiple datasets.</strong> Alternate names for entities in Nomenklatura can come from more than one data source, enabling you to make links between these sources based on partial overlaps of naming conventions.</li> 

        <li><strong>Share your data cleaning work.</strong> Instead of making entity mappings ad-hoc while cleaning data, judgments are stored on the web so that they can be shared between people and re-used across different releases of a dataset.</li>

        <li><strong>Generate URIs and store additional metadata.</strong> Along with names, Nomenklatura can store additional attributes, such as address information, company identifiers and external references with each entity.</li> 
      </ul>
      <p>
        To get started, check you should sign in, create a dataset and upload information about 
        entities to be cleaned and shared.
      </p>
    </div>
    <div class="col-xs-12 col-md-6">
      <table class="table table-condensed">
            <tr>
              <th>Owner</th>
              <th>Dataset</th>
              <th>Entities</th>
            </tr>
            <tr ng-repeat="dataset in datasets.results">
                <td>
                  {{dataset.owner.login}}
                </td>
                <td>
                  <a href="/datasets/{{dataset.name}}">{{dataset.label}}</a>
                </td>
                <td class="num">
                  {{dataset.stats.num_entities}}
                </td>
            </tr>
        </table>
        <nk-pager class="pull-right" response="datasets" load="loadDatasets(url)"></odis-pager>
    </div>
</div>