<ul class="breadcrumb">
  <li>
    <a href="/#/datasets/{{dataset.name}}">{{dataset.label}}</a>
  </li>
  <li>
    <a href="/#/entities/{{entity.id}}">{{entity.name}}</a>
  </li>
</ul>

<h2 class="page-header">{{entity.name}}</h2>

<div ng-show="entity.canonical" class="alert alert-info">
    <span class="structured">{{entity.name}}</span> is an alias name for 
    <a href="/#/entities/{{entity.canonical.id}}" class="structured">{{entity.canonical.name}}</a>.
</div>

<div ng-show="entity.invalid" class="alert alert-danger">
    This entity has been marked as invalid. It will not be considered for matching, 
    clustering or other cleaning tasks. 
</div>

<p>What goes here?</p>

<ul>
    <li>Review button</li>
    <li>list of attributes</li>
    <li>list of aliases</li>

</ul>