<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}Welcome{% endblock %} - LinkSpotting</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" type="text/css" href="http://assets.openspending.org/branding/fonts/opensans/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="http://assets.openspending.org/branding/footer.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
  <script src="/static/js/modernizr.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
    <div class="container">
      <h1>LinkSpotting</h1>
    </div>
  </header>

  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            <button class="close" data-dismiss="alert">×</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}
       - No Content -
    {% endblock %}
  </div>

  <footer>
    <div class="inner">
      <div class="container">
        <p>
          LinkSpotting allows people to make mapping for their data. On the web.
        </p>

        <ul class="footer-links span4 pull-left">
        </ul>
        <ul class="footer-links span4 pull-left">
        </ul>

        All <a href="http://creativecommons.org/licenses/by/3.0/">content</a>, 
        <a href="http://www.gnu.org/licenses/agpl.html">code</a> 
        and <a href="http://opendatacommons.org/licenses/odbl/">data</a> is 
        openly licensed in accordance with the 
        <a href="http://opendefinition.org/">open definition</a>.
        <br/>
        <a href="http://opendefinition.org"><img src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="Open Content" /></a>
      </div>
    </div>
  </footer>

  <script>
    var _gaq=[['_setAccount','UA-8271754-XXXXXXXXXXXXXXXXXXXXX FIX ME XXXXXXXXXXXXXXXXX'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>








