
.breadcrumb {
    margin-top: 2em;
}

footer {
    padding-bottom: 2em;
}

footer ul {
    list-style-type: none;
    margin: 0px;
    margin-top: 1em;
    border-top: 1px solid #eee;
    padding-top: 1em;
}

footer ul li {
    float: right;
    display: inline-block;
    margin-left: 2em;
}

table .pager {
    margin-bottom: 0;
}

table .pager ul {
    margin-left: 0;
}

table input[type="text"] {
    margin-bottom: 0px;
}
