<h2>About nomenklatura</h2>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <p><strong>nomenklatura</strong> is a reference data recon server. It allows
    users to manage a list of canonical entities (e.g. person or organisation
    names) and aliases that connect to one of the canonical entities. This helps 
    to clean up messy data in which a single entity may be referred to by many 
    names.</p>
  </div>
  <div class="col-xs-12 col-md-6">
    <p>The key elements in the service include the <code>dataset</code>, which 
    is a segmented unit of reference data, a set of <code>entities</code> - i.e.
    the canonical forms - and a set of <code>aliases</code> which connect a
    non-standard form to a <code>entity</code>.</p>
  </div>
</div>
<hr/>
<h3>Using the API</h3>
<a name="api"></a>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <p>The API is spread through the application, JSON representations of most
    pages can be retrieved by setting an <code>Accept</code> header. Similarly, 
    all forms can be submitted as JSON data by setting the requests 
    <code>Content-Type</code>.</p>
    <p>To authenticate against the API, look up your API key on the user page
    after you are signed in. The API key can be sent either as the content of 
    an <code>Authorization</code> header or as a query paramter called 
    <code>api_key</code>.</p>
    <p>When a new term is looked up via the API, a new <code>alias</code> object is
    created, which will be added to the queue and presented to users for manual
    linkage. Once a link exists, the API will return the corresponding 
    <code>value</code>.</p>
  </div>
  <div class="col-xs-12 col-md-6">
    <ul class="api-list">
      <li><code>/{dataset}</code> - retrieve basic dataset metadata, including
      the reconciliation algorithm parameters.</li>
      <li><code>/{dataset}/lookup</code> - look up a link matching the given
      <code>name</code>. By default, if no judgement exists, a new alias element
      is created and queued for reconciliation. This does not happen if the
      user is not authenticated or the <code>readonly</code> query parameter
      is set.</li>
      <li><code>/{dataset}/entities</code> - retrieve a listing of entitites. A new
      value can be created with a POST request to this location, with a single
      field called <code>name</code> and an optional <code>data</code>
      dictionary.</li>
      <li><code>/{dataset}/entities/{id}</code> - retrieve an individual entity,
      or update the same entity with a POST request to this location.</li>
      <li><code>/{dataset}/aliases</code> - retrieve a listing of aliases.</li>
      <li><code>/{dataset}/aliases/{id}</code> - retrieve an individual alias.</li>
      <li><code>/{dataset}/aliases/{id}/match</code> - get a list of options
      for the alias or POST a match decision as the <code>choice</code> 
      parameter.</li>
    </ul>
  </div>
</div>
<hr/>
<h3>nomenklatura-client for Python</h3>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <p>To facilitate the use of the API in Python, a client library is
    available: <a href="https://github.com/okfn/nomenklatura-client">https://github.com/okfn/nomenklatura-client</a></p>
    <p>To install the library from the command line, try this
    command:</p>
    <pre>pip install pynomenklatura</pre>
  </div>
  <div class="col-xs-12 col-md-6">
    <pre class="prettyprint">from nomenklatura import Dataset

dataset = Dataset('my-dataset', api_key='..')

# Create an entity (normally done via the UI):
entity = dataset.ensure_entity('This is a reference value')

try:
name = 'This needs to be reconciled'
other_entity = dataset.lookup(name, readonly=False)
print other_entity.name

except dataset.NoMatch nm:
# no match exists, the new alias has been queued
# for reconciliation.
# link it to the entity we created before (this 
# is normally done via the UI):
dataset.match(nm.id, in_entity.id)

except dataset.Invalid inv:
# the name is known but not a valid value (i.e.
# data error)</pre>
  </div>
</div>
<hr/>
<h3>License</h3>
<div class="row">
  <div class="col-xs-12">
    <p>
      By submitting databases to this service you agree to license them under 
      the terms of the <a href="http://opendatacommons.org/licenses/odbl/">Open
      Database License</a>.
    </p>
  </div>
</div>
