<!doctype html>
<html lang="en" ng-app="nomenklatura">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>nomenklatura</title>
  <meta name="description" content="nomenklatura is a data cleaning service. It helps data users to remove duplicate and near-duplicate entity references from their data by creating canonical
  entity lists with aliases.">

  {% assets filters="less,cssmin,cssrewrite", output="gen/style.css",
      "vendor/bootstrap/less/bootstrap.less",
      "vendor/font-awesome/less/font-awesome.less",
      "style/style.less" %}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}

  <link rel="shortcut icon" href="http://assets.pudo.org/img/favicon.ico" type="image/x-icon" />
</head>
<body>
  <div id="page" ng-controller="AppCtrl">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="menu">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#"><img src="/static/img/logo.png" alt="nomenklatura"></a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li ng-show="session.logged_in"><a href="#/profile">Profile</a></li>
          <li ng-hide="session.logged_in"><a href="/api/2/sessions/login">Sign In</a></li>
          <li ng-show="session.logged_in"><a href="/api/2/sessions/logout">Sign Out</a></li>
          <li><a href="/#/about">Help</a></li>
        </ul>
      </div>
    </nav>

    <div id="airlock" class="container">
      <div class="row" ng-view></div>
    </div>
  </div>
  <footer>
    <div class="container">
        <ul>
            <li><a href="http://github.com/pudo/nomenklatura">Source Code</a></li>
            <li><a href="/#/about">About</a></li>
            <li>&copy; 2013: Open Knowledge Foundation</li>
        </ul>
    </div>
  </footer>

  {% for path, tmpl in angular_templates %}
    <script id="{{path}}" type="text/ng-template">{{tmpl|safe}}</script>
  {% endfor %}

  {% assets filters="uglifyjs", output="gen/app.js",
        "vendor/jquery/jquery.js",
        "vendor/bootstrap/js/collapse.js",

        "vendor/angular/angular.js",
        "vendor/angular-route/angular-route.js",
        "vendor/angular-ui-bootstrap3/ui-bootstrap-tpls.js",

        "js/app.js",
        "js/services/session.js",
        "js/directives/pagination.js",
        "js/controllers/app.js",
        "js/controllers/home.js",
        "js/controllers/pages.js",
        "js/controllers/datasets.js",
        "js/controllers/profile.js"
         %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
</body>
</html>








