{%extends "layout.html" %}

{% block title %}
  Entity reconciliation service
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span4">
          <p>Nomenklatura is a simple service that makes it easy to maintain a
          canonical list of entities such as persons, companies or event
          streets and to match messy input, such as their names against that
          canonical list &ndash; for example, matching Acme Widgets, Acme
          Widgets Inc and Acme Widgets Incorporated to the canonical "Acme
          Widgets".</p>

          <p>With Nomenklatura its a matters of minutes to set up your own set
          of master data to match against and it provides a simple user
          interface and <a href="{{url_for('about')}}#api">API</a> which you
          can then use do matching (the API is compatible with Open Refine's
          reconciliation function).</p>

          <p>Nomenklatura can not only store the master set of entities you
          want to match against but also will learn and record the various
          aliases for a given entity - such as a person, organisation or place
          - may have in various datasets.</p>
          <a class="btn" href="{{url_for('about')}}">
            Learn more
          </a>
          {% if authz.dataset_create() %}
              <a class="btn btn-success" href="{{url_for('dataset.new')}}">
                  Create a dataset</a>
          {% else %}
              <a class="btn btn-success" href="{{url_for('login')}}">
                  Login with GitHub</a>
          {% endif %}
        </div>
        <div class="span8">
          <table class="table table-condensed table-striped">
                <tr>
                  <th>Dataset</th>
                  <th>Entities</th>
                  <th>Aliases</th>
                  <th>Unmatched</th>
                </tr>
                {% for dataset in datasets %}
                <tr>
                    <td>
                        {{dataset.owner.login}}
                        <span class="divider">&raquo;</span>
                        <a href="{{url_for('dataset.view', dataset=dataset.name)}}">{{dataset.label}}</a>
                    </td>
                    <td>
                      {{dataset.entities.count()}}
                    </td>
                    <td>
                      {{dataset.aliases.filter_by(is_matched=True).count()}}
                    </td>
                    <td>
                      {{dataset.aliases.filter_by(is_matched=False).count()}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

