{%extends "layout.html" %}

{% block title %}
  Entity reconciliation service
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span4">
          <p>
            nomenklatura is a service for entity linkage. A list of alias
            names can be mapped to the entity they represent.
          </p>
          <p>
            Reconciliation can be used to clean messy and semi-structured
            data through a set of managed mappings. Easy matches are detected
            automatically, while more ambiguous alias terms are matched by
            the user.
          </p>
          <a class="btn" href="{{url_for('about')}}">
            Learn more
          </a>
          {% if authz.dataset_create() %}
              <a class="btn btn-success" href="{{url_for('dataset.new')}}">
                  Create a dataset</a>
          {% else %}
              <a class="btn btn-success" href="{{url_for('login')}}">
                  Login with GitHub</a>
          {% endif %}
        </div>
        <div class="span8">
          <table class="table table-condensed table-striped">
                <tr>
                  <th>Dataset</th>
                  <th>Entities</th>
                  <th>Aliases</th>
                  <th>Unmatched</th>
                </tr>
                {% for dataset in datasets %}
                <tr>
                    <td>
                        {{dataset.owner.login}}
                        <span class="divider">&raquo;</span>
                        <a href="{{url_for('dataset.view', dataset=dataset.name)}}">{{dataset.label}}</a>
                    </td>
                    <td>
                      {{dataset.entities.count()}}
                    </td>
                    <td>
                      {{dataset.aliases.filter_by(is_matched=True).count()}}
                    </td>
                    <td>
                      {{dataset.aliases.filter_by(is_matched=False).count()}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

