<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}Welcome{% endblock %} - nomenklatura</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/prettify.css">
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
  <script src="/static/js/modernizr.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/prettify.js"></script>
</head>
<body>
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  <div class="container">
      <ul class="breadcrumb">
            <li>
                <a href="/"><strong>nomenklatura</strong></a>
                <span class="divider">/</span>
            </li>
           {% block breadcrumbs %}Breadcrumbs{% endblock %} 
            <li class="pull-right">
               {% if logged_in %}
                    <img width="16" height="16" src="{{avatar_url}}">
                    <a href="{{url_for('account')}}"><strong>{{login}}</strong></a>
                    <span class="divider">/</span>
                    <a href="{{url_for('logout')}}">logout</a>
                {% else %}
                    <img src="/static/img/github.png">
                    <a href="{{url_for('login')}}">
                        Login with GitHub</a>
                {% endif %}
            </li>
      </ul>
  </div>

  <div class="container post-navbar">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            <button class="close" data-dismiss="alert">×</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}
       - No Content -
    {% endblock %}
  </div>
  
  <footer>
    <div class="container">
        <ul>
            <li><a href="http://github.com/pudo/nomenklatura">Source Code</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            <li>&copy; 2012: Open Knowledge Foundation, all code and data is openly licensed.</li>
        </ul>
    </div>
  </footer>

  <script>
    var _gaq=[['_setAccount','UA-8271754-XXXXXXXXXXXXXXXXXXXXX FIX ME XXXXXXXXXXXXXXXXX'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>








