<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}Welcome{% endblock %} - nomenklatura</title>
  <meta name="description" content="{% block description %}nomenklatura is a service for entity linkage. A list of alias names can be mapped to the entity they represent.{% endblock %}">
  <meta name="viewport" content="width=device-width">
  <link href="http://assets.okfn.org/p/labs/201210/css/bootstrap.css" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://assets.okfn.org/p/labs/201210/js/bootstrap.js"></script>

  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/prettify.css">
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
  <script src="/static/js/modernizr.min.js"></script>
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/prettify.js"></script>
</head>
<body>
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  <div id="page">
    <div id="menu" class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><img src="/static/img/logo.png" alt="nomenklatura"></a>
          <ul class="nav pull-right">
            {% if logged_in %}
              <li>
              <a href="{{url_for('account')}}">
                <img width="16" height="16" src="{{avatar_url}}">
                <strong>{{login}}</strong></a>
                </li>
              <li><a href="{{url_for('logout')}}">logout</a></li>
            {% else %}
              <li>
                    <a href="{{url_for('login')}}">
                      Login with GitHub</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div id="airlock" class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <button class="close" data-dismiss="alert">×</button>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}
         - No Content -
      {% endblock %}
    </div>
  </div>
  <footer>
    <div class="container">
        <ul>
            <li><a href="http://github.com/pudo/nomenklatura">Source Code</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            <li>&copy; 2013: Open Knowledge Foundation</li>
        </ul>
    </div>
  </footer>

  <script>
    var _gaq=[['_setAccount','UA-8271754-XXXXXXXXXXXXXXXXXXXXX FIX ME XXXXXXXXXXXXXXXXX'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>








