<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}Welcome{% endblock %} - nomenklatura</title>
  <meta name="description" content="{% block description %}nomenklatura is a service for entity linkage. A list of alias names can be mapped to the entity they represent.{% endblock %}">
  <meta name="viewport" content="width=device-width">

  {% assets filters="less,cssmin,cssrewrite", output="gen/style.css",
      "vendor/bootstrap/docs/assets/css/bootstrap.css",
      "vendor/font-awesome/less/font-awesome.less",
      "style/prettify.css",
      "style/style.less" %}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}

  <link rel="shortcut icon" href="http://assets.pudo.org/img/favicon.ico" type="image/x-icon" />
</head>
<body>
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  <div id="page">
    <div id="menu" class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><img src="/static/img/logo.png" alt="nomenklatura"> &ndash; Data Reconciliation Made Easy</a>
          <ul class="nav pull-right">
            {% if logged_in %}
              <li>
              <a href="{{url_for('account')}}">
                <img width="16" height="16" src="{{avatar_url}}">
                <strong>{{login}}</strong></a>
                </li>
              <li><a href="{{url_for('sessions.logout')}}">logout</a></li>
            {% else %}
              <li>
                    <a href="{{url_for('sessions.login')}}">
                      Login with GitHub</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div id="airlock" class="container">
      <div id="alert-flashes">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                <button class="close" data-dismiss="alert">×</button>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>

      <ul class="breadcrumb">{{ self.breadcrumbs() }}</ul>

      {% block content %}
         - No Content -
      {% endblock %}
    </div>
  </div>
  <footer>
    <div class="container">
        <ul>
            <li><a href="http://github.com/pudo/nomenklatura">Source Code</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            <li>&copy; 2013: Open Knowledge Foundation</li>
        </ul>
    </div>
  </footer>

  {% assets filters="uglifyjs", output="gen/app.js",
        "vendor/jquery/jquery.js",
        "vendor/bootstrap/js/bootstrap-alert.js",
        "js/prettify.js",
        "js/app.js"
         %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block scripts %}

  {% endblock %}
</body>
</html>








