{%extends "layout.html" %}
{%from "pager.html" import pager %}

{% block title %}
    {{link.display_key}} - {{dataset.label}}
{% endblock %}

{% block content %}
    <h2 class="page-header">Matching Tool</h2>
    <div class="row">
        <div class="span8">
            Candidate: <code>{{link.display_key}}</code>
        </div>
        <div class="span4">
            <form class="form-search" method="GET"
                action="{{url_for('link.match', dataset=dataset.name, link=link.id)}}">
                <input type="hidden" name="random" value="{{random}}">
                <input type="text" class="input-medium search-query"
                    name="query">
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </div>
    <form class="" method="POST"
        action="{{url_for('link.match_save', dataset=dataset.name, link=link.id)}}">
        <table class="table table-striped match-table">
            <tr>
                <th></th>
                <th>Value</th>
                <th>Score</th>
            </tr>

            {% for text, value, score in choices %}
            <tr>
                    <td><input type="radio" name="choice"
                        value="{{value.id}}"></td>
                    <td><code>{{text}}</code></td>
                    <td>{{score}}</td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="3">
                    {{ pager(choices) }}
                </td>
            </tr>
            <tr>
                <td><input type="radio" name="choice" value="NEW"></td>
                <td colspan="2">
                    <input type="text" name="value" value="">
                </td>
            </tr>
            {% if dataset.enable_invalid %}
            <tr>
                <td><input type="radio" name="choice" value="INVALID"></td>
                <td colspan="2">
                    <strong>Invalid value</strong>
                </td>
            </tr>
            {% endif %}
        </table>
        {% if random %}
            <input type="hidden" name="random" value="true">
            <button type="submit" class="btn btn-primary">Save &amp; Next</button>
            <a href="{{url_for('link.match_random', dataset=dataset.name)}}"
                class="btn btn-danger">Try another</a>
        {% else %}
            <button type="submit" class="btn btn-primary">Save</button>
        {% endif %}
    </form>
{% endblock %}
