{%extends "layout.html" %}

{% block title %}
    {{link.display_key}} - {{dataset.label}}
{% endblock %}

{% block content %}
    <h2 class="page-header">Match: {{link.display_key}}</h2>
    <form class="" method="POST"
        action="{{url_for('link.match_save', dataset=dataset.name, link=link.id)}}">
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>Value</th>
                <th>Score</th>
            </tr>

            {% for text, value, score in choices %}
            <tr>
                    <td><input type="radio" name="choice"
                        value="{{value.id}}"></td>
                    <td>{{text}}</td>
                    <td>{{score}}</td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td><input type="radio" name="choice" value="NEW"></td>
                <td colspan="2">
                    <input type="text" name="value" value="">
                </td>
            </tr>
            <tr>
                <td><input type="radio" name="choice" value="INVALID"></td>
                <td colspan="2">
                    <strong>Invalid value</strong>
                </td>
            </tr>
        </table>
        {% if random %}
            <input type="hidden" name="random" value="true">
            <button type="submit" class="btn btn-primary">Next</button>
            <a href="{{url_for('link.match_random', dataset=dataset.name)}}"
                class="btn btn-danger">Skip</a>
        {% else %}
            <button type="submit" class="btn btn-primary">Save</button>
        {% endif %}
    </form>
{% endblock %}
