{%extends "layout.html" %}
{%from "pager.html" import pager %}

{% block title %}
    {{value.display_value}} - {{dataset.label}}
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{url_for('dataset.view',
            dataset=dataset.name)}}">{{dataset.label}}</a>
        <span class="divider">/</span>
    </li>
    <li>
        {{value.display_value}}
    </li>
{% endblock %}

{% block content %}
    {% if authz.dataset_edit(dataset) %}
        <form class="well form-inline" method="POST"
            action="{{url_for('value.update', dataset=dataset.name, value=value.id)}}">
            <input type="text" class="input-xlarge" id="value" name="value"
                value="{{value.value}}">
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    {% else %}
        <div class="well">
            <code>{{value.value}}</code>
        </div>
    {% endif %}

    <div class="row">
        <div class="span6">
    <h3>Links</h3>
    <table class="table table-condensed">
        {% for link in value.links %}
            <tr>
                {% if authz.dataset_edit(dataset) %}
                    <td><code><a href="{{url_for('link.match', dataset=dataset.name,
                                link=link.id)}}">{{link.key}}</a></code></td>
                {% else %}
                    <td><code>{{link.key}}</code></td>

                {% endif %}
            </tr>
        {% endfor %}
    </table>

        </div>
        <div class="span6">

    <h3>Merge</h3>
    <form class="form-search" method="GET"
        action="{{url_for('.view', dataset=dataset.name, value=value.id)}}">
        <input type="text" class="search-query span5"
            name="query" value="{{query}}" placeholder="Find a value">
        <button type="submit" class="btn">Filter</button>
    </form>
    <form method="POST" action="{{url_for('.merge', dataset=dataset.name,
        value=value.id)}}">
        <table class="table table-condensed">
            {% for (c, v, s) in values %}
                <tr>
                    <td><input type="radio" name="target" value="{{v.id}}"></td>
                    <td><a href="{{url_for('value.view', dataset=dataset.name,
                            value=v.id)}}">{{v.display_value}}</a></td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2">
                    {{ pager(values) }}
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-danger">Merge</button>
    </form>

        </div>
    </div>
{% endblock %}

