name: package

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - "3.9"
          - "3.10"
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt-get install -y -qq libicu-dev
          python -m pip install --upgrade pip wheel pyicu
          pip install -e '.[dev]'
      - name: Check type annotations (strict)
        run: |
          make typecheck
      - name: Run tests
        run: |
          make test
      - name: Build a distribution
        run: |
          python setup.py sdist bdist_wheel
      - name: Publish a Python distribution to PyPI
        if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
          skip_existing: true
